.new-message-form {
    display: flex;
    justify-content: space-between;
    background: var(--background-color-dark-mode-secondary);
    align-items: center;
    border-radius: 50px;
    min-height: 50px;
    max-height: 150px;
}
.icon-form-container{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 50px;
    max-height: 150px;
}
.icon-form-container button {
    border: none;
    border-radius: 50%;
    background: none;
    cursor: pointer;
    color: var(--font-color-dark-mode-secondary);
    outline: none;
}

.textarea-container {
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;
    min-height: 50px;
    max-height: 150px;
}
.textarea-container textarea {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 40px;
    max-height: 120px;
    background: none;
    color: var(--font-color-dark-mode-primary);
    font-size: 14px;
    border: none;
    resize: none;
    padding: 10px;
    outline: none;
    scrollbar-color: var(--detail-color-primary) transparent; 

}
.send-button-container {
    min-height: 50px;
    max-height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5%;
    background: none;
    border-radius: 50px;
}
.send-button-container button {
    background: #23c063;
    border: none;
    cursor: pointer;
    color: var(--font-color-dark-mode-secondary);
    outline: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.send-button-container button svg {
    width: 30px;
    height: 30px;
    color: #000000;
    outline: none;
}

