
.dark-mode {
    color: red;
}

.dark-mode h3 {
    color: red;
}
img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.contact-item-link {
    text-decoration: none;
    color: inherit; /* Para que herede el color de texto */
}

.contact-item-container {
    background-color: var(--background-color-primary);
    display: flex;
    align-items: center;
    margin-left: 20px;
    gap: 15px;
    padding: 10px;
    cursor: pointer;
    max-width: 500px;
    min-width: 300px;
}
.contact-item-info {
    display: flex;
    flex-direction: column;
}
.contact-item-info h3 {
    margin: 0;
    font-size: 18px;
}
.contact-item-info p {
    margin: 5px 0 0 0;
    font-size: 14px;
    color: var(--font-color-secondary);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 300px;
}
.contact-item-container:hover {
    background-color: var(--background-color-secondary);
    border-radius: 15px;
    box-shadow: 1px 0px 4px rgba(0, 0, 0, 0.1);
}