
img {
    width: 49px;
    height: 49px;
    border-radius: 50%;
}
.contact-item-link {
    text-decoration: none;
    color: inherit;
}

.contact-item-container {
    background-color: var(--background-color-dark-mode-primary);
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px;
    cursor: pointer;
}
.contact-item-info {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 1;
    min-width: 0;
}
.message-received {
    display: flex;
    gap: 5px;
    align-items: center;
    margin-top: 5px;
    justify-content: start;
}
.contact-item-info h3 {
    color: var(--font-color-dark-mode-primary);
    margin: 0;
    font-size: 16px;
    font-weight: 600;
}
.message-received svg {
    width: 16px;
    height: 16px;
}
.message-received .hidden {
    display: none;
}
.message-received p {
    font-size: 14px;
    font-weight: 600;
    color: var(--font-color-dark-mode-secondary);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 90%;
}
.contact-item-container:hover {
    background-color: var(--background-color-dark-mode-secondary);
    border-radius: 15px;
    box-shadow: 1px 0px 4px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 768px) {
    
    .contact-item-container {
        display: flex;
        padding: 5px;
        /* border: 1px solid #000000; */
    }
    .contact-item-info {
        /* border: 1px solid #c42727; */
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 100%;
    }
    .contact-item-info h3 {
        font-size: 14px;
    }
    .message-received p {
        font-size: 12px;
    }
    img {
        width: 40px;
        height: 40px;
    }

}