.message-content-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    flex-grow: 1;
}
.message-list-container {
    display: flex;
}
.message-bubble {
    padding: 8px 10px;
    border-radius: 8px;
    font-size: 14px;
    position: relative;
    display: flex;
    flex-direction: column;
}
.message-by-me {
    background-color: #134d37;
    align-self: flex-end;
    border-radius: 7.5px;
    max-width: 60%;
    position: relative;
}

.message-by-contact {
    background-color: #232626;
    align-self: flex-start;
    border-radius: 7.5px;
    max-width: 60%;
    position: relative;
}


.message-bubble-content {
    display: flex;
    flex-direction: row;
    gap: 0px;
}
.message-content {
    color: #ffffff;
    margin: 0px;
    word-wrap: break-word;
    word-break: break-word; 
}
.message-time {
    width: fit-content;
    margin-top: 10px;
    color: #cccccca0;
    font-size: 12px;
    align-self: flex-end;
}