
:root {
    --background-color-primary: #161717;
    --background-color-secondary: #1d1f1f;
    --text-color-primary: #ffffff;
    --text-color-secondary: #8f8f8f;
    --button-background-color: #103529;
    --button-hover-background-color: #154330;
    --font-family-primary: 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.welcome-screen {
    width: 100%;
    height: 100%;
    background-color: var(--background-color-primary); /* Fondo general muy oscuro */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-color-primary);
    font-family: var(--font-family-primary);
}

/* --- Tarjeta Central --- */
.promo-card {
    background-color: var(--background-color-secondary);
    padding: 30px 35px;
    border-radius: 16px;
    text-align: center;
    max-width: 370px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 0;
    box-shadow: 0 2px 2px 1px rgba(0,0,0,0.2);

}

.promo-image-container {
    margin-bottom: 20px;
}
.placeholder-svg {
    width: 130px;
    height: 130px;
    margin-bottom: 20px;
}
.placeholder-svg svg {
    width: 130px;
    height: 130px;
    fill: var(--text-color-secondary);
}

.promo-title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 12px;
    color: var(--text-color-primary);
}

.promo-text {
    font-size: 14px;
    line-height: 20px;
    color: var(--text-color-secondary);
    margin-bottom: 24px;
}

.download-btn {
    background-color: var(--button-background-color);
    color: #ffffff; 
    border: none;
    padding: 10px 24px;
    border-radius: 24px;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.download-btn:hover {
    background-color: var(--button-hover-background-color);
}

/* --- Botones Inferiores --- */
.quick-actions-container {
    display: flex;
    gap: 32px;
}

.action-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.action-btn {
    color: var(--text-color-primary);
    width: 100px;
    height: 100px;
    background-color: #2e2f2f;
    box-shadow: 0 2px 2px 1px rgba(0,0,0,0.2);
    border: none;
    border-radius: 16px;
    cursor: pointer;
}
.action-btn:hover {
    background: none;
    box-shadow: none;
}


@media screen and (min-width: 769px) and (max-width: 1025px) {
    .promo-card {
        max-width: 320px;
        padding: 25px 30px;
    }
    .promo-title {
        font-size: 18px;
    }
    .promo-text {
        font-size: 13px;
    }
    .download-btn {
        padding: 8px 20px;
        font-size: 13px;
    }
    
}