.contact-list-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    max-width: 500px;
    overflow-y: auto;
}
.no-contacts-found {
    margin: 10px 0px 10px 40px;
    font-size: 14px;
    color: var(--font-color-dark-mode-secondary);
}