.contact-list-container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    flex: 1;
}
.no-contacts-found {
    margin: 10px 0px 10px 40px;
    font-size: 14px;
    color: var(--font-color-dark-mode-secondary);
}